body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.parentContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 50%;
  margin: 2vh;
}

.contentContainers {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.controllsContainers {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.controllsContainers img {
  max-width: 30vh;
}

#topContainer img {
  height: 30vh;
  width: fit-content;
}

#line {
  width: 100%;
  height: 0.5vh;
  background-color: black;
}

/* #bottomContainer {} */
