#startBox {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  
    text-align: center;
    white-space: nowrap;
  }
  
  .startOptionBut {
    width: 75vw;
    height: fit-content;
    padding: 10px;
    margin: 10px;
  
    text-align: center;
  
    transition: all 300ms;
  
    border: solid rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #ab5797;
    border-radius: 15px;
  }
  .startOptionBut:hover,
  .startOptionBut:focus {
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.3) 0 6px 12px;
  }
  .startOptionBut:hover {
    transform: translateY(-2px);
  }
  
  
  #sliderContainer span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vw;
    font-weight: bold;
    font-variant: small-caps;
    color: #d60aa3;
    white-space: nowrap;
    text-shadow: 0.4vw 0.3vw rgba(0, 0, 0, 0.3);
  }
  
  #sliderContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
  
    width: 75vw;
    height: 3vw;
  
    background: #ffffff;
    opacity: 0.8;
  
    transition: opacity 200ms;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
  
    width: 6vw;
    height: 3vw;
  
    background: #d60aa3;
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.5);
  
    
  
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 6vw;
    height: 3vw;
    
    background: #d60aa3;
    cursor: pointer;
  }